<div class="card my-5">
  <div class="card-body">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="container">
          <div class="content">
            <div class="text-center white-text mx-5 wow fadeIn border">
              <h1 class="mb-4 text-monospace">
                <strong>Creators Subscriber</strong>
              </h1>

              <p>Wrote in Angular and Spring boot</p>

              <p class="mb-4 d-none d-md-block text-monospace">
                <mark>Search and watch your most favorite Content Creators</mark>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
