<div class="about-section">
  <h1>About Project</h1>
  <p>Creators Subscribers able you to found/create Creator profile and search/add materials which will be able for other users to subscribe and watch</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique error eum nesciunt excepturi nemo, illum tempore ducimus ea laborum itaque nobis expedita iusto deserunt voluptatum repudiandae accusamus. Qui, deserunt alias.</p>
</div>

<h2 style="text-align:center">Designed by</h2>
    <div class="card">
      <div class="container">
        <h2>Michał Doroz</h2>
        <p class="title">CEO & Founder</p>
        <p>Java Developer at SPEEDNET SP z o. o.</p>
        <p>michaldoroz7@gmail.com</p>
        <p><a class="button" href="mailto:michaldoroz7@gmail.com">Contact</a></p>
      </div>
